@page
@model ContactCustomerModel
@{
    ViewData["Title"] = "Contact Customer";
}

<div class="text-center">
    <h1 class="display-4">Contact Customer</h1>
</div>

<div class="text-center">
<p> This form is intended for quickly sending tailored emails to customers from a shared company inbox. </p>
</div>
@*The error below seems to happen with Chrome & Visual Studio (latest edition). It happens on tab merges in specific.
    The number of tabs being merged is not relevant, it can happen with 1 such as opening an external link, or with many more.
    At first I thought I had introduced a bug, but this was replicated on a 2nd web app project where I slowly merged changes.
    Then I tested on Microsoft's default starter web app project and a tab merge killed the client host yet again. I tested
    the main project with no other tabs, the client ran without issues for 30+ minutes. The same project was crashing in <30 sec
    everytime before. The exit error is below:

    "has exited with code 4294967295 (0xffffffff)"
    Note that the code is the same as if the client was asked to exit/stop naturally.

    The link below shows that it was a bug with an older version of VS, but it still happens. In the future maybe testing with
    VS Code or something else may be a better idea. 
    https://developercommunity.visualstudio.com/t/vs2022-unit-test-debugging-in-wsl-not-working/1547009*@

<div class="card">
    <h3 class="card-header">Questions & Feedback</h3>
    <div class="card-body">
        <form method="post" id="email-form">
          <div class="form-group">
            <label for="sender">Recipient's email address</label>
            <input type="email" asp-for="Recipient" name="Recipient" class="form-control" id="recipient" placeholder="user@example.com">
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" asp-for="Subject" name="Subject" class="form-control" id="subject" placeholder="Thank you for your purchase">
          </div>
          <div class="form-group">
            <label for="body">Message</label>
            <textarea input type="text" asp-for="Body" name="Body" rows="8" class="form-control" id="body" placeholder="We hope you enjoy your brand new ... Kind Regards, the ... Team"></textarea>
          </div>
          <br />
          <button button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>