@page
@model IndexModel
@{
    ViewData["Title"] = "Email API";
}

<div class="text-center">
    <h1 class="display-4">Email API</h1>
</div>

<div class="text-center">
<p> The following API has Cross-Origin Resource Sharing available, which allows for it to be called from Postman etc.
    Additionally, the e-mail functionality is in a class library (DLL), which can be reused with a lot of flexibility.</p>
</div>