@page
@model IndexModel
@{
    ViewData["Title"] = "Email API";
}

<div class="text-center">
    <h1 class="display-4">Email API</h1>
</div>

<div class="text-center">
<p> The following API has Cross-Origin Resource Sharing available, which allows for it to be called from Postman etc.
    Additionally, the e-mail functionality is in a class library (DLL), which can be reused with a lot of flexibility.
    Ths project runs 2 servers, one for the API (back-end) and one for this website (front-end). When the API is called
    it is essentially a 3rd party API call that is open to the public. While the API works in the background, the site is available
    to browse without any noticeable interruption.</p>
</div>